body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(135, 146, 150);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all 0.2s ease;
}

.cell:active {     
    transform: scale(0.9);
}

.cell:hover {
    background-color: #bc8989;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: bisque;
}

button:hover {
    background-color: #e0b080;
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cell.filled {
    animation: pop 0.2s ease;
}

#scoreboard {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
}